main {
    background-color: antiquewhite;
    background-image: url('/static/images/senate_building.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
main{
    text-align: center;
    /* min-height: 70vh; */
    /* line-height: 70vh; */
}
div.center-block{
    border-radius: 16px;
    padding: 24px;
    line-height: 1;
    text-align: center;
    background-color: #fffd;
    max-width: 300px;
    display: inline-block;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    vertical-align: middle;
    /* border: 1px solid; */
    box-shadow: 1px 1px 4px gray;
}

div.center-block h1{
    color: cornflowerblue;
}


form{
    /* border-radius: 16px; */
    /* background-color: cornflowerblue; */
    /* padding: 24px; */
    /* line-height: 1; */
    text-align: left;
    /* color: black; */
    /* display: inline-block; */
    /* box-sizing: content-box; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* vertical-align: middle; */
    /* max-width: 320px; */
}

/* select all form input here and make it their width 100% */
form input, form select, form textarea{
    outline: none;
    width: 100%;
    padding: 4px 10px;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 8px;
    letter-spacing: 1px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

input[type="password"] {
    letter-spacing: 8px;
}

form button{
    padding: 8px 16px;
    text-transform: uppercase;
    float: right;
}

label{
    /* color: cornsilk; */
    /* font-weight: bold; */
    /* margin-bottom: 9px; */
}

div.error{
    max-width: 220px;
    color: red;
    display: inline-block;
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
    border-left: 3px solid;
}