{%extends 'base.html'%}

{%block head%}
    {{ super() }}
    <link rel="stylesheet" href="/static/about.css">
{% endblock %}
{%block body%}
<div class="block1">
    <h1 class="header">About Job Lancer</h1>
    <p class="about">
        Job Lancer is a web based system that connects applicants with employers and matches them based on eligibilty. This sytem will uses web based application for accessibilty for ease of use.The key feature of this system allows job posting, applicant and employer registration and the matching algorithm.Employers can create a profile, post job, include details such as job title, requirements,edit profile and so on.
    </p>    
</div>
<div class="block2">
    <img class="dev-img" src="/static/images/me.jpeg" alt="">
    <div class="who">Sytem Developer</div>
    <div class="name">Abdulmalik Umar</div>
    <p class="about">A final year student of software engineering, partial fulfilment for a Bachelors Degree.h</p>
</div>
<div class="block2">
    <img class="dev-img" src="/uploads/profile-pictures/1/avater.png" alt="">
    <div class="who">Project Supervisor</div>
    <div class="name">Dr Kabir Umar</div>
    <p class="about">This project is supervised under the aboved name mentioned.</p>
</div>
{% endblock %}

