<!DOCTYPE html>
<html lang="en">

<head>
    {%block head%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{{ title }}{%endblock%}</title>
    <link rel="stylesheet" href="/static/base.css">
    {%endblock%}
</head>

<body>
    <header class="top-bar">
        {%block header%}
        <ul id="menu">
            {% block menulist %}
                {% if session['user_id'] or session['temporary_id'] %}
                <li><a href="{{url_for('auth.signout')}}">Logout</a></li>
                {% else %}
                <li><a href="{{url_for('auth.signin')}}">Sign In</a></li>
                {% endif %}
            {%endblock%}
        </ul>
        <div class="clear-fix">
            <img class="logo" src="/static/images/buk_logo.png" alt="buk logo" sizes="contain">
            <span class="logo-name">Bayero University, Kano</span>
        </div>
        {%endblock%}
    </header>
    <main>
        {%block body%}{%endblock%}
    </main>
    <footer>
        <marquee>Bayero University, Kano</marquee>
    </footer>
</body>
</html>