<!DOCTYPE html>
<html lang="en">

<head>
    {%block head%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{{ title }}{%endblock%}</title>
    <link rel="stylesheet" href="/static/base.css">
    {%endblock%}
</head>

<body>
    <header class="top-bar">
        {%block header%}
        <ul id="menu">
            {% block menulist %}
                <li><a class="{{'active' if request.path == '/' else ''}}" href="/">Home</a></li>
                <li><a class="{{'active' if request.path == '/about' else ''}}" href="/about">About</a></li>
                {% if session['user_id'] %}
                {% if session['account_type'] == 'applicant' %} 
                <li><a class="{{'active' if request.path == '/jobs' else ''}}" href="/jobs">Jobs</a></li>
                {% endif %}
                <li><a class="{{'active' if request.path == '/profile/%d' % session['user_id'] else ''}}" href="/profile/{{session['user_id']}}">Profile</a></li>
                <li><a class="{{'active' if request.path == '/chats' else ''}}" href="/chats">Messages</a></li>
                <li><a class="{{'active' if request.path == '/signout' else ''}}" href="{{url_for('auth.signout')}}">Logout</a></li>
                {% else %}
                <li><a class="{{'active' if request.path == '/signin' else ''}}" href="{{url_for('auth.signin')}}">Login</a></li>
                {% endif %}
            {%endblock%}
        </ul>
        <div class="clear-fix">
            <img class="logo" src="/static/images/buk_logo.png" alt="buk logo" sizes="contain">
            <span class="logo-name">Bayero University, Kano</span>
        </div>
        {%endblock%}
    </header>
    <main>
        {%block body%}{%endblock%}
    </main>
    <footer>
        <div>
            <h2>Job Lancer</h2>
            <h3>67 million professionals on demand</h3>
            <p>Why hire people when you can simply integrate our talented cloud workforce instead? </p>
        </div>

        <div>
            <h2>Job Lancer</h2>
            <h3>67 million professionals on demand</h3>
            <p>Why hire people when you can simply integrate our talented cloud workforce instead? </p>
        </div>
    </footer>
</body>
</html>