{%extends 'base.html'%}
{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='auth_form.css') }}">
{%endblock%}

{%block body%}
<div class="center-block">
<form action="{{ url_for('job.create_job')}}" class="clear-fix" method="post">
    <h1>{%block title%}Create Job Offer{%endblock%}</h1>
    <div>
        <label for="title">Job Title:</label>
        <input type="text" name="title" minlength="6" value="{{request.form['title']}}" required>
    </div>
    <div>
        <label for="qualification">Select Minimum Qualification:</label>
        <select name="qualification" id="qualification" required>
            <option value="" hidden selected> ---------- </option>
            {% for qualification in qualifications %}
            <option value="{{qualification.level}}" {{'selected' if qualification.level == request.form['qualification'] else '' }}>{{qualification.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="skills">Skills Wanted:</label>
        <select name="skills" required multiple>
            {% for skill in skills %}
            <option value="{{skill.name}}" {{'selected' if skill.name == request.form['skills'] else '' }}>{{skill.name}}</option>
            {% endfor %}
        </select>
    </div>
    <!-- <div>
        <label for="location">Location:</label>
        <input type="text" name="location" minlength="6" value="{{request.form['location']}}" required>
    </div> -->
    <div>
        <label for="description">Full Description:</label>
        <textarea name="description" id="description" cols="30" rows="3" placeholder="" value="{{request.form['description']}}" required minlength="1"></textarea>
    </div>
    <button>Create</button>
    {% if error %}<div class="error">{{error}}, please try again</div>{% endif %}
</form>
</div>

{%endblock%}