{%extends 'base.html'%}

{%block head%} 
    {{ super() }}
    <link rel="stylesheet" href="/static/style.css">
{%endblock%}

{% block body %}
<div id="images-container">
    <img  src="/static/images/Apple-iPhone.jpg" alt="">
    <img  src="/static/images/00.PNG" alt="">
    <img  src="/static/images/jj.PNG" alt="">
    <img  src="/static/images/fastest-cars-world-2023-list-ranking-luxe-digital-1200x600.jpg.webp" alt="">
    <img style="display: block;" src="/static/images/senate_building.jpeg" alt="">
</div>
<div class="over">
    <h1>{% block title %}Welcome to Job Lancer{% endblock %}</h1>
    <ul>  
        <li>BUK largest job lancing marketplace</li>
        <li>BUK easiest job search site</li>
        <li>BUK largest marketplace</li>
        <li>BUK fastest employment place</li>
    </ul>
    <div>
        <a class="button" href="/signup_employer">Employer Registration</a>
        <a class="button" href="/signup_applicant">Applicant Registration</a>
    </div>
</div>
<script>
    var next = 0;
    function changeBackgroundImage() {
        var imgs = document.getElementById('images-container')
        for(var img of imgs.children){
            img.style.display = 'none'    
        }
        imgs.children[next++].style.display = 'block'
        if(next >= imgs.children.length){
            next = 0;
        }
    }

    setInterval(changeBackgroundImage, 5000);
</script>
{% endblock %}