{%extends 'base.html'%}

{%block head%} 
    {{ super() }}
    <link rel="stylesheet" href="/static/style.css">
{%endblock%}

{% block body %}
    <div class="center-block">
        <h1>{% block title %}Welcome to Job Lancer{% endblock %}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ut natus quis deserunt minus odio sequi illum assumenda similique distinctio, aut consequatur? Nam commodi ex porro sequi, molestias expedita numquam.</p>
        <div>
            <a class="button" href="/signup_employer">Employer Registration</a>
            <a class="button" href="/signup_applicant">Applicant Registration</a>
        </div>
    </div>
{% endblock %}