{%extends 'base.html'%}

{%block head%}
{{ super() }}
<link rel="stylesheet" href="/static/block_list.css">
{%endblock%}

{% block title %}Chat{% endblock %} 

{%block body%}
<div class="title">
    <img class="profile-pic" src="/uploads/profile-pictures/{{partner.user_id}}/{{partner.profile_picture}}" alt="">
    <div>{{partner.user.name }}</div>
    <span class="caption">{{'Applicant' if session['account_type'] == 'applicant' else 'Employer'}}</span>
</div>
<section>
    <h2 class="header">Messages</h2>
    <hr>
    {% for message in messages %}
        <div class="list-item {{'right' if message.sender_id == session['user_id'] else 'left'}}">
            {%if message.sender_id == message.applicant_id %}
            <img src="/uploads/profile-pictures/{{message.sender_id}}/{{message.applicant.profile_picture}}" alt="" class="profile-img">
            <div class="details">
                <div class="row">
                    {% if message.sender_id == session['user_id'] %} 
                    <div class="name">Me</div>
                    {% else %}
                    <a href="/profile/{{message.sender_id}}" class="name">{{message.applicant.user.name}}</a>
                    {% endif %}
                    <span>{{message.time_created}}</span>
                </div>
                {% if message.job_offer %}
                <div><span class="label">job offer</span> {{message.job_offer.title}}</div>
                {% endif %}
                <div class="msg">{{message.message}}</div>
            </div>
            {% else %} 
            <img src="/uploads/profile-pictures/{{message.sender_id}}/{{message.employer.profile_picture}}" alt="" class="profile-img">
            <div class="details">
                <div class="row">
                    <a href="/profile/{{message.sender_id}}" class="name">{{message.employer.user.name}}</a>
                    <span>{{message.time_created}}</span>
                </div>
                {% if message.job_offer %}
                <div><span class="label">job offer</span> {{message.job_offer.title}}</div>
                {% endif %}
                <div class="msg">{{message.message}}</div>
            </div>
            {% endif %}
        </div>
    {% else %}
    <div class="empty-message">
        No Chat Message
    </div>
    {% endfor %}
</section>
<form class="chat-form" action="/profile/messages/{{partner.user_id}}" method="post">
    <input type="text" name="message" id="" placeholder="Type message here">
    <button type="submit">Send</button>
</form>
{%endblock%}