{%extends 'base.html'%}
{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='auth_form.css') }}">
{%endblock%}

{%block body%}
<div class="center-block">
    <div class="title">
        {% if session['account_type'] == 'employer' %}
        <img class="profile-pic" src="/uploads/profile-pictures/{{applicant.user_id}}/{{applicant.profile_picture}}" alt="">
        <div>{{applicant.user.name }}</div>
        <span class="caption">Applicant</span>
        {% else %}
        <img class="profile-pic" src="/uploads/profile-pictures/{{employer.user_id}}/{{employer.profile_picture}}" alt="">
        <div>{{employer.user.name }}</div>
        <span class="caption">Employer</span>
        {% endif %}
    </div>
    
    <form action="" method="post">
        <div>
            <label for="job_offer">Select Job Offer:</label>
            <select name="job_offer" id="job_offer" required>
                <option value="" hidden selected disabled> ---------- </option>
                {% for job_offer in employer.job_offers %}
                <option value="{{job_offer.id}}" {{'selected' if job_offer.id == request.form['job_offer'] or '%d' % job_offer.id == request.args.get('job') else '' }}>{{job_offer.title}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="message">Message:</label>
            <textarea name="message" id="message" cols="30" rows="3" placeholder="Enter your message here" value="{{request.form['message']}}" required minlength="20"></textarea>
        </div>
        <button>Send</button>
        {% if error %}<div class="error">{{error}}, please try again</div>{% endif %}
    </form>
</div>
{%endblock%}