{%extends 'base.html'%}

{%block menulist%}
    {% if (user_id == session['user_id']) %}
    <li><a href="/profile/edit">Edit Profile</a></li>
    {% endif %}
    {{ super() }}
{%endblock%}
    
{% block body %}
    {% if applicant %}
    <div class="title">
        <img class="profile-pic" src="/uploads/profile-pictures/{{applicant.user_id}}/{{applicant.profile_picture}}" alt="profile pic">
        <div>{{applicant.user.name }}</div>
        <span class="caption">Applicant</span>
    </div>
    <section>
        <header>
            <h2 class="header">Details</h2>
            {% if session['account_type'] == 'employer' %}
            <a href="{{url_for('account.message', applicant_id=applicant.user.id)}}" class="action"><span class="icon">&#128231;</span> Send Job Offer</a>
            {% endif %}
        </header>
        <hr>
        Full Name:
        <div class="detail-field">{{applicant.user.name}}</div>
        Email:
        <div class="detail-field">{{applicant.user.email}}</div>
        Phone Number:
        <div class="detail-field">{{applicant.user.phone}}</div>
        Qualification:
        <div class="detail-field">{{applicant.qualification.name}}</div>
        Date of birth:
        <div class="detail-field">{{applicant.date_of_birth}}</div>
        Skills:
        <ul class="detail-field">
            {% for skill in applicant.skills.split(',') %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
        Resume:
        <div class="detail-field"><img src="/uploads/resumes/{{applicant.user_id}}/{{applicant.resume}}" alt=""></div>
    </section>
    {% else %} 
    <div class="title">
        <img class="profile-pic" src="/uploads/profile-pictures/{{employer.user_id}}/{{employer.profile_picture}}" alt="profile pic">
        <div>{{ employer.user.name }}</div>
        <span class="caption">Employer</span>
    </div>
    <section>
        <h2 class="header">Details</h2>
        <hr>
        Full Name:
        <div class="detail-field">{{employer.user.name}}</div>
        Sector/Faculty:
        <div class="detail-field">{{employer.sector}}</div>
    </section>
    <section>
        <header>
            <h2 class="header">Job Offers</h2>
            {% if user_id == session['user_id'] and session['account_type'] == 'employer' %}
            <a href="{{url_for('job.create_job')}}" class="action"><span class="icon">&#10133;</span> Create New Job Offer</a>
            {% endif %}
        </header>
        <hr>
        <ol>
            {% for job_offer in employer.job_offers %}
            <li>
                <a href="/jobs/{{job_offer.id}}">{{job_offer.title}}</a>
            </li>
        {% endfor %}
        </ol>
        
        <!-- Job description:
        <div class="detail-field">{{employer.job_discription}}</div>
        Job specification:
        <div class="detail-field">{{employer.job_specification}}</div> -->
    </section>
    {% endif %}
{% endblock %}