{%extends 'base.html'%}
{%block head%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth_form.css') }}">
{%endblock%}

{%block header%}
    {{ super() }}
    <div class="title">{%block title%}Complete Registration{%endblock%}</div>
{%endblock%}

{%block body%}
<form action="" method="post" enctype="multipart/form-data">
    <div>
        <label for="org-name">Sector/Faculty:</label>
        <input type="text" name="org-name" value="{{request.form['org-name']}}" required>
    </div>
    <div>
        <label for="org-picture">Profile Picture:</label>
        <input type="file" accept="image/*" name="org-picture" required>
    </div>
    <button>Submit</button>
    {% if error %}<div class="error">{{error}}, please try again</div>{% endif %}
</form>
{%endblock%}