{%extends 'base.html'%}
{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='auth_form.css') }}">
{%endblock%}

{%block header%}
    {{ super() }}
    <div class="title">{%block title%}Sign In{%endblock%}</div>
{%endblock%}

{%block body%}
<form action="{{ url_for('auth.signin')}}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" value="{{request.form['email']}}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" minlength="6" required>
    </div>
    <button>Signin</button>
    {% if error %}<div class="error">{{error}}, please try again</div>{% endif %}
</form>
{%endblock%}