{%extends 'base.html'%}
{%block head%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth_form.css') }}">
{%endblock%}

{%block header%}
    {{ super() }}
    <div class="title">{%block title%}Sign Up{%endblock%}</div>
{%endblock%}

{%block body%}
<form action="{{ url_for('auth.signup')}}" method="post">
    <div>
        <label for="name">Full Name:</label>
        <input type="text" name="name" value="{{request.form['name']}}" required>
    </div>
    <div>
        <label for="phone">Phone Number:</label>
        <input type="tel" name="phone" value="{{request.form['phone']}}" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" value="{{request.form['email']}}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" minlength="6" required>
    </div>
    <div>
        <label for="cpassword">Confirm Password:</label>
        <input type="password" name="cpassword"  required>
    </div>
    <div>
        <label for="phone">Select Account Type:</label>
        <select name="account-type" id="account-type" required>
            <option value="" disabled selected> ---------- </option>
            <option value="applicant" {{'selected' if "applicant" == request.form['account-type'] else '' }}>Applicant</option>
            <option value="employer" {{'selected' if "employer" == request.form['account-type'] else '' }}>Employer</option>
        </select>
    </div>
    
    <button>Signup</button>
    {% if error %}<div class="error">{{error}}, please try again</div>{% endif %}
</form>
{%endblock%}