{%extends 'base.html'%}
{%block head%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='auth_form.css') }}">
<style>body {
    background-color: antiquewhite;
    background-image: url('/static/images/senate_building.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}</style>
{%endblock%}

{%block body%}
<div class="center-block">
    <h1>{%block title%}Sign In{%endblock%}</h1>
    <form class="clear-fix" action="{{ url_for('auth.signin')}}" method="post" autocomplete="off">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" value="{{request.form['email']}}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" minlength="6" required>
        </div>
        <button type="submit">Submit</button>
        {% if error %}<div class="error">{{error}}, please try again</div>{% endif %}
    </form>
    <p>
        Don't have an account? <a href="/">Create one</a>
    </p>
</div>

{%endblock%}